html, body {
    height: 100%;
    font-family: "Arial";
}

#mainDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#navDiv {
    margin:2px;
    flex-basis: 10%;   
    flex-direction: row; 
    display: flex;   

}

    #navDiv a {
        text-decoration: none;
        font-size: 0.9em;
        padding-right: 15px;
    }

    #navDiv a:visited {
        color: black;
    }

    #navDiv a:hover {
        text-decoration: underline;
    }

    #ueberGoogle{
        flex: 30%; 
        padding: 10px;       
    }

    #anmelden {
        flex: 70%;
        text-align: right;
        
    }

    #anmelden img {
        height: auto;
        padding-right: 20px;
        vertical-align: middle;
    }

    #anmelden button {
        background-color: #2B7DE9;
        color: white;
        padding: 8px 25px 8px 25px;
        border: none;
        border-radius: 8px;
        font-weight: bold;
    }

#searchDiv {
    flex-basis: 70%;
    display:flex;
    flex-direction: column;
}

    #inputField {
        display: flex;
        justify-content: center;
        margin-top:25px;
    }

        #logo img {
            display: block;
            margin: 0 auto;
        }

        #inputField input {
            height: 40px;
            width: 28%;
            border-radius: 20px;
            border-width: 1px;
            border-style: solid;
            background: url("../images/pic_google3.jpg");
            background-repeat: no-repeat;
            background-position: 7px 7px;
            padding-left: 40px;
            font-size: 15px;
        }

        #inputField input:focus {
            outline: none;
        }

       

    

#bottomDiv {
    flex-basis: 20%;
}