html, body {
    height: 98%;
    font-family: "Arial";
}

#mainDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#navDiv {
    margin:2px;
    flex-basis: 10%;   
    flex-direction: row; 
    display: flex;   

}

    #navDiv a {
        text-decoration: none;
        font-size: 0.9em;
        padding-right: 15px;
    }

    #navDiv a:visited {
        color: black;
    }

    #navDiv a:hover {
        text-decoration: underline;
    }

    #ueberGoogle{
        flex: 30%; 
        padding: 10px;       
    }

    #anmelden {
        flex: 70%;
        text-align: right;
        
    }

    #anmelden img {
        height: auto;
        padding-right: 20px;
        vertical-align: middle;
    }

    #anmelden button {
        background-color: #2B7DE9;
        color: white;
        padding: 8px 25px 8px 25px;
        border: none;
        border-radius: 8px;
        font-weight: bold;
    }

#searchDiv {
    flex-basis: 80%;
    display:flex;
    flex-direction: column;
}

    #inputField {
        display: flex;
        justify-content: center;
        margin-top:25px;
    }

        #logo img {
            display: block;
            margin: 0 auto;
        }

        #inputField input {
            height: 40px;
            width: 28%;
            border-radius: 20px;
            border-width: 1px;
            border-style: solid;
            background: url("../images/pic_google3.jpg");
            background-repeat: no-repeat;
            background-position: 7px 7px;
            padding-left: 40px;
            font-size: 15px;
        }

        #inputField input:focus {
            outline: none;
        }

       
        #buttons {
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }

        #buttons button {
            margin: 5px;
            height: 35px;
            background-color: #F8F9FA;
            border-style: solid;
            border-width: 1px;
            border-radius: 5px;
            padding: 3px 15px 3px 15px;
        }
    

#bottomDiv {    
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

    #bottomDiv div {
        background-color: #F2F2F2;
        margin-top:10px;
        font-weight: 200;
        font-size: 14px;
    }

    #infos {
        display: flex;
        border-top: 1px solid;
        margin-top: 5px;
    }

    #infos a {
        text-decoration: none;  
        font-weight: lighter;
    }

    #unternehmen a, #datenschutz a {        
        margin-right: 8px; 
    }

    #infos a:visited {
        color: black;
    }

    #infos a:hover {
        text-decoration: underline;
    }
    

    #klimaneutral {
        flex: 50%;
        display:flex;
        justify-content: center;
    }